.container1{
	overflow: hidden;
}
.containertosin{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}




.arcrow{
	display: flex;
	flex-direction: column;

  width: 50%

}

.basic{
	width:100%;
	max-width:100%;
	
}


/*@keyframes slideUp {
  from {
    transform: translateY(150px);
  }

  to {
    transform: translateY(0);
  }
}*/


.image {
    width: 100%;
    overflow:hidden;
    display: flex;
    align-items: center;
    border-width: 10px;
    border-color: white;
    border-style: solid;
    cursor: pointer;
  
/* animation: slideUp 1s ease forwards;
    */
}

/*.animate{
}

.show{
   animation: slideUp 1s ease forwards;

}*/

[data-inviewport] { /* THIS DEMO ONLY */
    width: 90%;
    overflow:hidden;
    display: flex;
    align-items: center;
    border-width: 10px;
    border-color: white;
    border-style: solid;
    cursor: pointer;
    opacity: 0.8;
}

/* inViewport */

[data-inviewport="scale-in"] { 
  transition: 5s;
  transform: translateY(0px);
}
[data-inviewport="scale-in"].is-inViewport { 
  transform: translateY(150px);
}

[data-inviewport="fade-rotate"] { 
  transition: 2s;
  opacity: 0;
}
[data-inviewport="fade-rotate"].is-inViewport { 
  transform: rotate(180deg);
  opacity: 1;
}

/*.image:hover {
	    transition: opacity ease 200ms;
	opacity: 1;
}
*/


.image .animate {
/*    -webkit-transform: translateY(150px);
    transform: translateY(150px);
    -webkit-animation: moveUp 1s ease forwards;
    animation: moveUp 1s ease forwards;*/

   
}


@media only screen and (max-width: 1100px) {
  .arcrow {
    		height:25vh;
  }
}

@media only screen and (max-width: 600px) {
  .image {
    width: 30%;
    border-width: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .arcrow {
    height:20vh;
  }
}

@media only screen and (max-width: 450px) {
  .arcrow {
    height:17vh;
  }
}



.ril__navButtonNext {
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIzNCI+PHBhdGggZD0ibTEgMyAyLTIgMTYgMTZMMyAzM2wtMS0xIDE1LTE1TDIgMnoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=) no-repeat 50% !important;
    right: 0;
}


.ril__navButtonPrev {
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIzNCI+PHBhdGggZD0ibTE5IDMtMi0yTDEgMTdsMTYgMTYgMS0xTDMgMTcgMTggMnoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=) no-repeat 50% !important;
    left: 0;
}