.contactimage{
	width: 100%;
}


.contactbox{
	width: 44%;
	margin: 8em auto 0 auto;
}

@media screen and (max-width: 700px) {
.contactbox{
	width: 57%;

    }}


p{
	text-align: left;
	   font-family: 'Cormorant Infant', serif;
	font-weight: 500;
	font-size: 1.1em;
	text-align: center;
		}

.contacttext{
margin-top: 40px;
 margin-left: auto;
    margin-right: auto;
 letter-spacing: 1px;
 display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 11px
}

.instatext{
	margin-top: 40px;
	text-align: center;
	margin-bottom: 6em;
	text-decoration: underline;
}




@media screen and (max-width: 700px) {
.contacttext {
     margin-top: 0px; 
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 11px

    }}

    @media screen and (max-width: 700px) {
p{
	text-align: center;

    }}