.contactimage{
	width: 100%;
}


.contactbox{
	width: 44%;
	margin: 8em auto 0 auto;
}

@media only screen and (max-width: 600px) {
.contactbox {
    width: 75%;
    margin: 3em auto 0 auto;
}
}


p{
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 1.1em
}
@media only screen and (max-width: 600px) {
p {
    font-size: 0.9em
}
}

.contacttext{
margin-top: 40px;
 margin-left: 28%;
}

@media only screen and (max-width: 600px) {
.contacttext {
    margin-top: 40px;
    margin-right: 12.5%;
    margin-left: 12.5%;
}
}


.instatext{
	margin-top: 40px;
	text-align: center;
	margin-bottom: 6em;
	text-decoration: underline;
}

.contacttext {
    margin-top: 40px;
    margin-right: 12.5%;
    margin-left: 12.5%;
}