.contactimage{
	width: 100%;
}


.contactbox{
	width: 44%;
	margin: 8em auto 0 auto;
}


p{
	text-align: left;
		font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 1.1em
		}

.contacttext{
margin-top: 40px;
 margin-left: 28%;
}

.instatext{
	margin-top: 40px;
	text-align: center;
	margin-bottom: 6em;
	text-decoration: underline;
}